<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.project.model.dao.UserDao">
	<select id="getUser" parameterType="String" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id};
	</select>
	<select id="searchNickName" parameterType="String" resultType="String">
		SELECT id
		FROM users
		WHERE nick_name = #{nickName};
	</select>
	<insert id="doRegist" parameterType="User">
		INSERT INTO users
		VALUES(#{id}, #{password}, #{email}, #{name}, #{nickName}, #{bornDate});
	</insert>
	<update id="doUpdate" parameterType="User">
		UPDATE users
		SET name= #{name}, nick_name=#{nickName}, email=#{email}
		WHERE id = #{id};
	</update>
</mapper>